export PYENV_VERSION="3.10.10" # For those who use pyenv, safely ignored for those who don't.
layout python python3
export sampleApi=https://simple-tool-rental-api.glitch.me/
export token=cef7d6fc72a5409a5d1984f41de1eda5b4f1f0f406b9a4c5d41549f02b223b5f